{% extends 'base.html.twig' %}

{% block title %}New Batallas{% endblock %}

{% block body %}
    <h1>Create new Batallas</h1>

    {{ include('batallas/_form.html.twig') }}

    <a href="{{ path('app_batallas_index') }}">back to list</a>
{% endblock %}
